* {
 PADDING-BOTTOM: 0px;  PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
HTML {
 BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; BORDER-TOP: 0px; FONT-WEIGHT: normal; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
 BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; BORDER-TOP: 0px; FONT-WEIGHT: normal; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
 BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; BORDER-TOP: 0px; FONT-WEIGHT: normal; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
 BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; BORDER-TOP: 0px; FONT-WEIGHT: normal; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
 BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; BORDER-TOP: 0px; FONT-WEIGHT: normal; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
 BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; BORDER-TOP: 0px; FONT-WEIGHT: normal; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
 BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; BORDER-TOP: 0px; FONT-WEIGHT: normal; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
P {
 BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; BORDER-TOP: 0px; FONT-WEIGHT: normal; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
 BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; BORDER-TOP: 0px; FONT-WEIGHT: normal; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
 BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; BORDER-TOP: 0px; FONT-WEIGHT: normal; BORDER-RIGHT: 0px; PADDING-TOP: 0px;
}
H3 {
 BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; BORDER-TOP: 0px; FONT-WEIGHT: normal; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
 BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; BORDER-TOP: 0px; FONT-WEIGHT: normal; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
 BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; BORDER-TOP: 0px; FONT-WEIGHT: normal; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
 BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; BORDER-TOP: 0px; FONT-WEIGHT: normal; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
 BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; BORDER-TOP: 0px; FONT-WEIGHT: normal; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
 BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; BORDER-TOP: 0px; FONT-WEIGHT: normal; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
EMBED {
 BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; BORDER-TOP: 0px; FONT-WEIGHT: normal; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LABEL {
 BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; BORDER-TOP: 0px; FONT-WEIGHT: normal; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
 BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
OBJECT {
 DISPLAY: block
}
UL {
 LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
UL LI {
 LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
.cls {
 LINE-HEIGHT: 0px !important; HEIGHT: 0px !important; CLEAR: both; FONT-SIZE: 0px !important
}
.play {
 DISPLAY: none
}
SELECT {
 FONT-SIZE: 12px; VERTICAL-ALIGN: middle
}
INPUT {
 FONT-SIZE: 12px; VERTICAL-ALIGN: middle
}
A {
 COLOR: #222; TEXT-DECORATION: none
}
A:visited {
   FONT-SIZE: 12px; COLOR: #222; TEXT-DECORATION: none
}
A:hover {
 COLOR: #0b57a4
}
A:active {
 COLOR: #0b57a4
}
.dis {
 DISPLAY: block
}
.undis {
 DISPLAY: none
}
.hidden {
 DISPLAY: none
}
BODY {
 PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "宋体", Arial, Helvetica, sans-serif; COLOR: #555; FONT-SIZE: 12px; PADDING-TOP: 0px
}
#wrap {
 MARGIN: 0px auto; WIDTH: 990px
}
.head {
 POSITION: relative; WIDTH: 990px; background:url(../images/bg_head.jpg) no-repeat 0px 15px; FLOAT: left;  margin:0 auto;
}
.home {
 POSITION: absolute; LINE-HEIGHT: 23px; HEIGHT: 23px; TOP: 0px; RIGHT: 0px
}
.home A {
 COLOR: #0260c0
}
.logo {
 PADDING-BOTTOM: 0px; PADDING-LEFT: 32px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 73px; PADDING-TOP: 32px
}
.headright {
 MARGIN-TOP: 75px; PADDING-LEFT: 8px; WIDTH: 184px; DISPLAY: inline; FLOAT: right; HEIGHT: 22px; MARGIN-RIGHT: 53px
}
.txtsearch {
 BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN-TOP: 5px; WIDTH: 160px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.btnsearch {
 BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN-TOP: 4px; WIDTH: 22px; BACKGROUND: url(../images/sgin_search.jpg) no-repeat; FLOAT: left; HEIGHT: 16px; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
.nav {
  POSITION: relative; PADDING-LEFT: 8px; WIDTH: 974px; BACKGROUND: url(../images/bg_body.jpg) #f7f6ee repeat-x; HEIGHT: 36px;margin:0 auto; clear:both;
}
.navlist LI {
 POSITION: relative; TEXT-ALIGN: center; LINE-HEIGHT: 32px; WIDTH: 74px; DISPLAY: inline; FONT-FAMILY: "微软雅黑"; FLOAT: left; MARGIN-LEFT: 13px; FONT-SIZE: 15px; FONT-WEIGHT: bold
}
#wrap .navlist LI A {
 DISPLAY: block; COLOR: #ffffff
}
.hover1 {
 DISPLAY: block; BACKGROUND: url(../images/navtab.jpg) no-repeat 0px bottom; COLOR: red
}
.hover1 A {
 COLOR: #0b57a4 !important
}
#wrap .navlist LI.hover UL LI A:hover {
 COLOR: #1465b7
}
.navbox {
 POSITION: absolute; WIDTH: 800px; TOP: 32px; LEFT: 0px
}
.navbox2 {
 POSITION: absolute; WIDTH: 600px; FLOAT: right; TOP: 32px; RIGHT: 0px
}
.navl {
 WIDTH: 5px; BACKGROUND: url(../images/nav_ll.png) no-repeat; FLOAT: left; HEIGHT: 32px
}
.navll {
 WIDTH: 3px; BACKGROUND: url(../images/nav_ll.gif) no-repeat; FLOAT: left; HEIGHT: 28px
}
.navc {
 PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: url(../images/nav_c.jpg) repeat-x; FLOAT: left; HEIGHT: 32px; COLOR: #666; PADDING-TOP: 0px
}
#wrap .navlist LI .navc A {
 DISPLAY: inline; COLOR: #000; FONT-SIZE: 14px
}
#wrap .navlist LI .navc A:hover {
 COLOR: #1465b7
}
.navr {
 WIDTH: 5px; BACKGROUND: url(../images/nav_ff.png) no-repeat; FLOAT: left; HEIGHT: 32px
}
.navrr {
 WIDTH: 3px; BACKGROUND: url(../images/nav_ff.gif) no-repeat; FLOAT: left; HEIGHT: 28px
}
.navline {
 POSITION: absolute; WIDTH: 12px; BACKGROUND: url(../images/bg_navjiao.jpg) no-repeat center bottom; FLOAT: left; HEIGHT: 6px; TOP: 27px; LEFT: 36px; _top: 16px
}
.main {
 WIDTH: 100%; BACKGROUND: url(../images/bg_main.jpg) repeat-y; FLOAT: left; PADDING-TOP: 25px; margin-top: -1px;
}
.bgfootmain {
 WIDTH: 100%; BACKGROUND: url(../images/bg_foot.jpg) no-repeat; FLOAT: left; HEIGHT: 10px; OVERFLOW: hidden
}
.left {
 WIDTH: 303px; PADDING-RIGHT: 15px; DISPLAY: inline; MARGIN-BOTTOM: 10px; FLOAT: left; OVERFLOW: hidden;
}
.leftimg {
 WIDTH: 303px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 12px; OVERFLOW: hidden
}
.left IMG {
 DISPLAY: block
}
.leftright {
 WIDTH: 365px; FLOAT: left; OVERFLOW: hidden; BORDER-RIGHT: #cccccc 1px solid; DISPLAY: inline; MARGIN-BOTTOM: 10px; margin-left:5px; padding-right:10px;
}
.leftrighttop {
  WIDTH: 100%; FLOAT: left; Min-height: 270px;  OVERFLOW: hidden; Max-height: none;
}
.title {
 LINE-HEIGHT: 23px; WIDTH: 100%; BACKGROUND: url(../images/line.jpg) no-repeat left bottom; FLOAT: left; HEIGHT: 23px; line-height:23px; 
}
.title H1 {
 PADDING-LEFT: 12px; BACKGROUND: url(../images/sign01.jpg) no-repeat 0px 50%; FLOAT: left; COLOR: #1465b7
}
.title H3 {
 PADDING-LEFT: 12px; BACKGROUND: url(../images/sign01.jpg) no-repeat 0px 50%; FLOAT: left
}
 
.title SPAN{
    font-family: "微软雅黑";
    font-weight: bold;
    cursor: pointer;
    }
.title .hover {
 COLOR: #1465b7
}
.c57621{
 color:#1465b7;
line-height:16px; 
}
.c57621_title{
font-family: "微软雅黑";
 font-weight:bold; 
}
SPAN.hei {
 LINE-HEIGHT: 12px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #222222
}
.more {
 FLOAT: right
}
.time {
 FLOAT: right
}
.leftright H2 {
 WIDTH: 100%; FLOAT: left; PADDING-TOP: 8px
}
.list LI {
 BORDER-BOTTOM: #bcbcbc 1px dotted; LINE-HEIGHT: 23px; PADDING-LEFT: 10px; BACKGROUND: url(../images/sign_jianhei.jpg) no-repeat 0px 50%
; OVERFLOW: hidden;}
.leftrightbottom {
 WIDTH: 100%; FLOAT: left; HEIGHT: 205px; OVERFLOW: hidden
}
.right {
 PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 660px; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: right; MARGIN-RIGHT: 10px; PADDING-TOP: 0px
}
.righttop {
 FLOAT: right;PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; WIDTH: 270px; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: right;  PADDING-TOP: 0px
}
.imageConten {
 FONT-FAMILY: 微软雅黑; COLOR: #1465b7; FONT-SIZE: 14px
}
.songti {
 PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #666666; PADDING-TOP: 0px
}
.rightbottom H1 {
 WIDTH: 95%; BACKGROUND: url(../images/bg_usernav.jpg) repeat-x; FLOAT: left; HEIGHT: 25px; OVERFLOW: hidden; }
.rightbottom H1 IMG {
 VERTICAL-ALIGN: middle
}
.rightbottom {
 WIDTH: 100%; FLOAT: left; HEIGHT:OVERFLOW: hidden
}
#wrap .rightbottom .usernav A {
 COLOR: #ffffff
}
#wrap .rightbottom H1 A {
 COLOR: #ffffff
}
.rightbottom H1 IMG {
 PADDING-BOTTOM: 0px; PADDING-LEFT: 11px; PADDING-RIGHT: 11px; PADDING-TOP: 0px
}
.userlist {
 WIDTH: 100%; MARGIN-BOTTOM: 3px; BACKGROUND: #f3f1f1; FLOAT: left; HEIGHT: 180px
}
#wrap .m_head IMG {
 MARGIN: 0px 15px; WIDTH: 100%
}
.m_content {
 MARGIN: 0px 15px; WIDTH: 100%
}
.position {
 BORDER-BOTTOM: #2674c4 1px solid; PADDING-BOTTOM: 10px; MARGIN: 0px 14px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.position2 {
 BORDER-BOTTOM: #2674c4 1px solid; PADDING-BOTTOM: 10px; MARGIN: 0px 14px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.position2 .posilan {
 DISPLAY: inline
}
.posilan {
 COLOR: #00458a;
}
.position .posilan {
 DISPLAY: inline
}
.m_leftlist {
 MARGIN-TOP: 10px; DISPLAY: inline; FLOAT: left; MARGIN-RIGHT: 10px
}
.m_rightlist {
 WIDTH: 446px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 38px
}
.m_leftlist .time {
 FLOAT: right; COLOR: #000000
}
.m_leftlist LI {
 BORDER-BOTTOM: #666 1px dashed; LINE-HEIGHT: 30px; PADDING-LEFT: 15px; WIDTH: 410px; DISPLAY: inline; BACKGROUND: url(../images/sign_reddian.jpg) no-repeat 0px 10px; FLOAT: left; MARGIN-LEFT: 20px
}
.m_leftlist A {
 COLOR: #666
}
.next {
 TEXT-ALIGN: center; LINE-HEIGHT: 10px; MARGIN: 20px 0px
}
.next INPUT {
 
}
.m_acontent {
 LINE-HEIGHT: 20px; MARGIN-TOP: 25px; WIDTH: 92%; MARGIN-BOTTOM: 97px; MARGIN-LEFT: 42px
}
.m_acontent H1 {
 MARGIN: 15px 0px; COLOR: #000000; FONT-WEIGHT: bold
}
.m_rleft {
 WIDTH: 764px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 14px; OVERFLOW: hidden
}
.mbottom_left {
 MARGIN-TOP: 25px; WIDTH: 290px; FLOAT: left; OVERFLOW: hidden
}
.mbottom_right {
 BORDER-LEFT: #666 1px dashed; MARGIN: 10px 0px; WIDTH: 453px; FLOAT: left; OVERFLOW: hidden
}
.rejianjie {
 LINE-HEIGHT: 22px; TEXT-INDENT: 2em; MARGIN: 8px
}
.mbottom_right .next {
 TEXT-ALIGN: left; PADDING-TOP: 20px
}
.m_rright {
 MARGIN: 10px 10px 0px 0px; WIDTH: 200px; DISPLAY: inline; BACKGROUND: #fafafa; FLOAT: left; OVERFLOW: hidden
}
.m_rrititle {
 BORDER-BOTTOM: #666 1px dashed; PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 0px; HEIGHT: 20px; COLOR: #000000; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.relist {
 MARGIN-TOP: 10px; WIDTH: 200px; MARGIN-BOTTOM: 20px; FLOAT: left
}
.relist LI {
 PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/sign_jianlan.jpg) no-repeat 0px 8px; MARGIN-LEFT: 10px; PADDING-TOP: 0px
}
.m_rdleft {
 MARGIN-TOP: 10px; WIDTH: 200px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 14px
}
.m_rdlefttitle {
 WIDTH: 200px; BACKGROUND: #1360af; FLOAT: left; HEIGHT: 30px
}
.m_rdlefttitle SPAN {
 LINE-HEIGHT: 30px; PADDING-LEFT: 25px; BACKGROUND: url(../images/sign_reshu.jpg) no-repeat 10px 10px; FLOAT: left; COLOR: #fff
} 
.redlist LI {
 BORDER-BOTTOM: #eaeaea 1px solid; POSITION: relative; BORDER-LEFT: #eaeaea 1px solid; LINE-HEIGHT: 40px; PADDING-LEFT: 15px; WIDTH: 183px; BACKGROUND: url(../images/bg_redlist.jpg) repeat-x 0px 0px; FLOAT: left; BORDER-TOP: medium none; BORDER-RIGHT: #eaeaea 1px solid; display:inline;
}
#wrap .redlist LI.hover A {
 COLOR: #00458a
}
#wrap .redlist LI A:hover {
 COLOR: #00458a
}
#wrap .m_rdleft A.gaokao {
 COLOR: #00458a; FONT-WEIGHT: bold
}
.redlist LI A {
 PADDING-LEFT: 15px; BACKGROUND: url(../images/sign_rejianbai.jpg) no-repeat 0px 0px
}
.m_rdright {
 WIDTH: 750px; DISPLAY: inline; FLOAT: right; OVERFLOW: hidden
}
.mrdright_bottom {
 PADDING-BOTTOM: 50px; LINE-HEIGHT: 22px; MARGIN: 20px 14px 0px 0px; WIDTH: 722px; DISPLAY: inline; FLOAT: left
}
.mrdrightbottom_title {
 TEXT-ALIGN: center; COLOR: #000000; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.titlecenter {
 TEXT-ALIGN: center; LINE-HEIGHT: 20px; MARGIN: 15px 0px
}
.mrdrightbottom_content P {
 LINE-HEIGHT: 23px; TEXT-INDENT: 2em; COLOR: #000000
}
.picimg {
 MARGIN: 10px; WIDTH: 373px; FLOAT: left
}
.imgtext {
 TEXT-ALIGN: center; DISPLAY: block; COLOR: #000; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.picimgbottom {
 MARGIN: 0px 10px; FLOAT: right
}
.firstword {
 FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.muser {
 BORDER-BOTTOM: #dedede 1px dashed; PADDING-BOTTOM: 5px; LINE-HEIGHT: 25px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.muser_title {
 DISPLAY: inline; COLOR: #0b57a4; FONT-WEIGHT: bold
}
.muser A {
 COLOR: #666 !important
}
.firstmuser {
 MARGIN-TOP: 26px
}
.lastmuser {
 BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.subjectq {
 BORDER-BOTTOM: #e8e8e8 1px solid; BORDER-LEFT: #e8e8e8 1px solid; PADDING-BOTTOM: 7px; PADDING-LEFT: 10px; WIDTH: 253px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 10px; FLOAT: left; BORDER-TOP: #e8e8e8 1px solid; BORDER-RIGHT: #e8e8e8 1px solid; PADDING-TOP: 7px
}
#wrap .subjectqword {
 PADDING-LEFT: 15px; BACKGROUND: url(../images/sign_subjectjian.jpg) no-repeat 0px 3px
}
.muser #m_scplay {
 MARGIN: 30px 0px; HEIGHT: 60px
}
#m_scplay #player {
 DISPLAY: block; FLOAT: left; HEIGHT: 60px; MARGIN-LEFT: 50px
}
#m_scplay #downLoad {
 DISPLAY: block; FLOAT: left; HEIGHT: 60px
}
#m_scplay #downLoad A {
 MARGIN-TOP: 18px; DISPLAY: block; HEIGHT: 25px; MARGIN-LEFT: 20px
}
.sch_content {
 WIDTH: 753px
}
.sch_content IMG {
 TEXT-ALIGN: center; MARGIN-BOTTOM: 60px; MARGIN-LEFT: 84px
}
.scenery {
 WIDTH: 100%; FLOAT: left
}
.scenerylist LI {
 TEXT-ALIGN: center; MARGIN: 0px 10px 13px; WIDTH: 160px; DISPLAY: inline; FLOAT: left
}
.scenerylist LI IMG {
 PADDING-BOTTOM: 5px; MARGIN: 0px auto 10px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; DISPLAY: block; BACKGROUND: url(../images/bg_tab.jpg) no-repeat; HEIGHT: 100px; PADDING-TOP: 5px
}
.bgstructure {
 WIDTH: 990px; BACKGROUND: url(../images/bg_schoolstructure.jpg) no-repeat center bottom; MARGIN-LEFT: 2px; OVERFLOW: hidden
}
.bgstructure .m_rdright {
 FLOAT: right; OVERFLOW: hidden
}
.tabletop {
 LINE-HEIGHT: 20px; MARGIN-BOTTOM: 45px
}
.tabletop TH {
 TEXT-ALIGN: left; LINE-HEIGHT: 30px
}
.tablebottom {
 LINE-HEIGHT: 20px; BORDER-COLLAPSE: collapse; MARGIN-BOTTOM: 40px
}
.tablebottom TD {
 BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 15px; PADDING-LEFT: 40px; PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 15px
}
.tablebottom TH {
 BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 30px; PADDING-LEFT: 10px; HEIGHT: 30px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.aboutschool P {
 TEXT-INDENT: 2em
}
.aboutschool .aboutleft {
 MARGIN: 0px 30px 0px 0px; WIDTH: 275px; DISPLAY: inline; FLOAT: left; HEIGHT: 611px
}
.aboutleft P {
 MARGIN-TOP: 30px
}
.aboutcontent {
 PADDING-BOTTOM: 50px; LINE-HEIGHT: 22px; FLOAT: left; COLOR: #444
}
.morgannav {
 WIDTH: 100%; MARGIN-BOTTOM: 20px; FLOAT: left; OVERFLOW: hidden
}
.morgannav_title {
 BORDER-BOTTOM: #0845c1 1px solid; WIDTH: 100%; MARGIN-BOTTOM: 10px; FLOAT: left; COLOR: #0845c1; FONT-WEIGHT: bold
}
.morgannav .msubjectlist {
 PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 300px; PADDING-RIGHT: 10px; FLOAT: left; PADDING-TOP: 20px
}
.msubjectlist LI {
 LINE-HEIGHT: 24px; PADDING-LEFT: 20px; WIDTH: 280px; BACKGROUND: url(../images/dian.jpg) no-repeat 5px 9px; FLOAT: left
}
.guide {
 PADDING-LEFT: 26px; WIDTH: 187px; FLOAT: left
}
.guidelist {
 
}
.guidelist LI {
 POSITION: relative; LINE-HEIGHT: 46px; PADDING-LEFT: 43px; WIDTH: 144px; DISPLAY: block; BACKGROUND: url(../images/sign_rejianbai.jpg) no-repeat 22px 17px; CURSOR: pointer
}
.guidelist LI.hover {
  BORDER-BOTTOM: #e5e1e1 1px solid; BORDER-LEFT: #e5e1e1 1px solid; WIDTH: 143px; BORDER-TOP: #e5e1e1 1px solid; BORDER-RIGHT: 0px
}
.libg {
 POSITION: absolute; WIDTH: 1px; DISPLAY: none; BACKGROUND: #fff; FLOAT: left; HEIGHT: 46px; TOP: 1px; LEFT: 186px
}
.guidelist LI.hover .libg {
 DISPLAY: block
}
.guideing {
 BORDER-BOTTOM: #e5e1e1 1px solid; BORDER-LEFT: #e5e1e1 1px solid; PADDING-BOTTOM: 20px; LINE-HEIGHT: 27px; MIN-HEIGHT: 400px; PADDING-LEFT: 40px; WIDTH: 618px; PADDING-RIGHT: 40px; DISPLAY: inline; FLOAT: left; BORDER-TOP: #e5e1e1 1px solid; BORDER-RIGHT: #e5e1e1 1px solid; PADDING-TOP: 20px; _height: 400px
}
.guideleft {
 WIDTH: 100%; FLOAT: left; COLOR: #171717
}
.guideleftlist {
 WIDTH: 48%; DISPLAY: inline; FLOAT: left
}
.guidecontent {
 PADDING-BOTTOM: 30px; MARGIN-TOP: 20px; WIDTH: 100%; FLOAT: left
}
.serpic {
 LINE-HEIGHT: 26px; WIDTH: 304px; FLOAT: left; OVERFLOW: hidden
}
.serpic P {
 TEXT-INDENT: 2em; COLOR: #000
}
.serright {
 WIDTH: 400px; FLOAT: right; MARGIN-LEFT: 15px; OVERFLOW: hidden
}
.serrightnav {
 WIDTH: 100%
}
.serrightlist {
 WIDTH: 100%; FLOAT: left
}
.serrightlist LI {
 BORDER-BOTTOM: #cfcfcf 1px dashed; LINE-HEIGHT: 30px; PADDING-LEFT: 15px; BACKGROUND: url(../images/sign_reddian.jpg) no-repeat 2px 11px
}
#wrap .serrightlist LI A {
 COLOR: #686868
}
.serbottom {
 BORDER-BOTTOM: #cfcfcf 1px dashed; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 350px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.serbottomzw {
BORDER-BOTTOM: #cfcfcf 1px dashed; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.sercon {
 LINE-HEIGHT: 32px
}
#wrap .sercon A {
 COLOR: #686868
}
.usersertitle {
 TEXT-ALIGN: center; COLOR: #000; FONT-SIZE: 15px; FONT-WEIGHT: bold
}
.userserfirst {
 COLOR: #000; FONT-WEIGHT: bold
}
.conredlist {
 BORDER-BOTTOM: #d1d1d1 1px solid; POSITION: absolute; BORDER-LEFT: #d1d1d1 1px solid; LINE-HEIGHT: 40px; WIDTH: 168px; BACKGROUND: url(../images/bg_redserlist.jpg) #f2f2f2 repeat-x 0px 0px; BORDER-TOP: #d1d1d1 1px solid; TOP: 0px; BORDER-RIGHT: #d1d1d1 1px solid; LEFT: 200px
}
.redlist LI .con_redlist LI {
 BORDER-BOTTOM: #d1d1d1 1px dashed; BORDER-LEFT: 0px; LINE-HEIGHT: 40px; PADDING-LEFT: 0px; WIDTH: 168px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
#wrap .redlist LI .con_redlist LI A {
 BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #222; FONT-WEIGHT: normal
}
#wrap .redlist LI .con_redlist LI A:hover {
 COLOR: #00458a
}
.picschool {
 WIDTH: 154px; FLOAT: left
}
.schoolright {
 WIDTH: 555px; DISPLAY: inline; MARGIN-BOTTOM: 150px; FLOAT: left; MARGIN-LEFT: 10px
}
.foot {
 TEXT-ALIGN: center; LINE-HEIGHT: 22px; MARGIN-TOP: 10px; WIDTH: 100%; FLOAT: left}
.biaoshi {
 TEXT-ALIGN: center;  LINE-HEIGHT: 22px; MARGIN-TOP: 2px; WIDTH: 100%; FLOAT: left}
.ydgw {
 TEXT-ALIGN: right; LINE-HEIGHT: 22px; MARGIN-TOP: 10px; WIDTH: 0%; FLOAT: right}
.ydgw A{
   font-family: "微软雅黑";
    font-weight: bold;
 }
.ydgw:hover .qr{display:none;}
.qr {
 top: -130px; position: absolute;
}
.qr {
 display: none;
 position: relative;
 left: -68px;
 top: -150px;
}
.qr img {
 width: 150px;
 height: 150px;
 padding: 10px;
 background: #CCC;
 border-radius: 3px;
}

#wrap .foot A {
 COLOR: #666
}
.b {
 FONT-WEIGHT: bold
}
.f8 {
 FONT-SIZE: 8px
}
.f9 {
 FONT-SIZE: 9px
}
.f10 {
 FONT-SIZE: 10px
}
.f11 {
 FONT-SIZE: 11px
}
.f12 {
 FONT-SIZE: 12px
}
.f13 {
 FONT-SIZE: 13px
}
.f14 {
 FONT-SIZE: 14px
}
.f15 {
 FONT-SIZE: 15px
}
.f16 {
 FONT-SIZE: 16px
}
.f18 {
 FONT-SIZE: 18px
}
.f24 {
 FONT-SIZE: 24px
}
.f32 {
 FONT-SIZE: 32px
}
.f36 {
 FONT-SIZE: 36px
}
.f_l {
 FLOAT: left
}
.f_r {
 FLOAT: right
}
.em {
 TEXT-INDENT: 2em
}
.hei {
 COLOR: #000
}
.red {
 COLOR: #ff0000
}
.Arial {
 FONT-FAMILY: "Arial", Helvetica, sans-serif
}
.yahei {
 FONT-FAMILY: "微软雅黑"
}
.mdeconde {
 MARGIN: 0px 20px; WIDTH: 960px; DISPLAY: inline; FLOAT: left; OVERFLOW: hidden
}
.mdecondecon {
 PADDING-BOTTOM: 50px; LINE-HEIGHT: 22px; MARGIN: 0px 15px 0px; WIDTH: 960px; DISPLAY: inline; FLOAT: left
}
.idxScrollDiv {
 PADDING-LEFT: 10px; WIDTH: 700px; FLOAT: left
}
.btnLeft {
 BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; MARGIN: 154px 3px 0px 1px; WIDTH: 20px; DISPLAY: inline; BACKGROUND: url(../images/left.gif) no-repeat; FLOAT: left; HEIGHT: 38px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.btnRight {
 BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; MARGIN: 154px 1px 0px 0px; WIDTH: 20px; DISPLAY: inline; BACKGROUND: url(../images/right.gif) no-repeat; FLOAT: right; HEIGHT: 38px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.idxScroll {
 DISPLAY: inline; FLOAT: left
}
.idxScroll LI {
 TEXT-ALIGN: center; WIDTH: 600px; FLOAT: left
}
.Cont {
 WIDTH: 600px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 25px; OVERFLOW: hidden
}
.ScrCont {
 WIDTH: 1342177.27px
}
#List1 {
 FLOAT: left
}
#List2 {
 FLOAT: left
}
.picmore {
 TEXT-ALIGN: center; MARGIN: 20px 0px 0px
}
.picmore A {
 COLOR: #000; FONT-SIZE: 14px
}
.list .title {
 WIDTH: auto; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left
}
.list .date {
 FLOAT: right
}
 
.tuwen #twgw_title{
    font-family: "微软雅黑";
    font-size: 14px;
    text-align: center;
    }
.tuwen #twgw_detail {
 FONT-FAMILY: "微软雅黑"; FONT-SIZE: 12px
}
.tuwen #twgw_detail A {
 COLOR: #1465b7 !important
}
.tuwen #twgw_title A {
 COLOR: #1465b7 !important
}
#twgw_img {
 TEXT-ALIGN: center; WIDTH: 268px; height:161px; OVERFLOW: hidden
}
#twgw_detail {
 LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"; COLOR: #171717; FONT-SIZE: 12px
}
#twgw_detail A {
 COLOR: #1465b7 
}
.tuwen_img{
width:268px; text-align:center; height:161px; 
}
.tuwen {
 width: 100%; height: 275px; line-height: 24px; overflow: hidden; float: left;
}
.tuwen img {
 width: 268px; height: 161px; text-align: center; padding-bottom: 8px;
}
.tuwenimg {
 width: 100%; height: 96px; text-align: center; padding-top: 9px; float: left;
}
.subjectq .leftpic {
 WIDTH: 96px; FLOAT: left; OVERFLOW: hidden
}
.subjectq .rsm {
 WIDTH: 140px; FLOAT: right
}
.leftimg {
  POSITION: relative
}
.leftstylenav {
 BORDER-BOTTOM: #ccc 1px solid; WIDTH: 99.8%; OVERFLOW: hidden; BORDER-RIGHT: #ccc 1px solid
}
.leftstylenav LI {
 TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 28px; WIDTH: 24.6%; BACKGROUND: url(../images/icon_isanjiao.jpg) no-repeat center top; FLOAT: left; HEIGHT: 28px; COLOR: #222222; OVERFLOW: hidden; BORDER-TOP: #ccc 1px solid; CURSOR: pointer
}
.leftstylenav LI.hover {
 BACKGROUND: #f3f1f1; COLOR: #0b57a4; BORDER-TOP: #f3f1f1 1px solid;
}
.flashtopbox {
 BORDER-BOTTOM: medium none; POSITION: absolute; BORDER-LEFT: #ccc 1px solid; WIDTH: 300px; BACKGROUND: #f3f1f1; HEIGHT: 480px; OVERFLOW: hidden; BORDER-TOP: #ccc 1px solid; TOP: 0px; BORDER-RIGHT: #ccc 1px solid; LEFT: 0px; 
}
.fltlist {
 MARGIN: 0px auto; WIDTH: 98%; OVERFLOW: hidden; 
}
.fltlist LI {
LINE-HEIGHT: 25px; PADDING-LEFT: 4%; WIDTH: 45.8%;}
.tits {
  BORDER-BOTTOM: #376ea6 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 20px; MARGIN-BOTTOM: 8px; BACKGROUND: url(../images/icon_yq.jpg) no-repeat 13px 10px; COLOR: #222; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 10px; 
}
.link_top {
 POSITION: absolute; TOP: 2px; RIGHT: 410px; z-index:99;
}
.link_top SPAN {
 BORDER-BOTTOM: #3e83d1 1px solid; BORDER-LEFT: #3e83d1 1px solid; LINE-HEIGHT: 16px; TEXT-INDENT: 10px; WIDTH: 140px; DISPLAY: block; BACKGROUND: url(../images/icon_sj01.gif) #0058a2 no-repeat 130px 5px; HEIGHT: 16px; COLOR: #e5eff8; OVERFLOW: hidden; BORDER-TOP: #3e83d1 1px solid; CURSOR: pointer; BORDER-RIGHT: #3e83d1 1px solid
}
.linkbox {
  POSITION: absolute; FILTER: alpha(opacity=80); LINE-HEIGHT: 24px; WIDTH: 200px; TOP: 20px; RIGHT: 240px; -moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8
}
#wrap .linkbox A {
 BORDER-BOTTOM: #fff 1px solid; PADDING-LEFT: 10px; WIDTH: 120px; DISPLAY: inline-block; BACKGROUND: url(../images/icon_sj02.gif) #2e7acc no-repeat 10px 9px; HEIGHT: 24px; COLOR: #fff
}
#wrap .linkbox A:hover {
 BACKGROUND: url(../images/icon_sj02.gif) #0058a2 no-repeat 10px 9px
}
.mdeconde {
 MARGIN: 0px 20px; WIDTH: 960px; DISPLAY: inline; FLOAT: left; OVERFLOW: hidden
}
.mdecondecon {
 PADDING-BOTTOM: 50px; LINE-HEIGHT: 22px; MARGIN: 0px 15px 0px; WIDTH: 960px; DISPLAY: inline; FLOAT: left;overflow:hidden;
}
.newyearBg {background:url(../images/2013-2.jpg) center top repeat-x;}
.newyearHead {background:url(../images/2013-3.jpg) center top no-repeat;}
#page_top {height:36px; position:relative;}

.tz_wz{ height:430px; overflow:hidden;}
.tz_wz ul li{  line-height: 23px; 
    height:23px;
    padding-left:0px; 
    font-size:12px;
    margin:0px;
    padding:0px;
    min-width:45%;
    padding-left:5px;
    padding-right:5px;
    display:inline;
    list-style: none;
    border-bottom-color: rgb(204, 204, 204); 
    border-bottom-width: 1px; 
    border-bottom-style: dotted; 
    float: left;} 
 .tz_wz ul li.ll{width:98%;}
.tz_wz ul li img
{

   margin-bottom:5px;
   margin-left:0px;
   margin-right:0px;
   padding-top:3px;
   padding-bottom:0px;
   align:absmiddle;
}


.scenery table{ margin:auto!important;}